<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}FilmFlix{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <script src="{{ url_for('static', filename='app.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <h1 id="logo">FilmFlix</h1>
            <nav>
                <!-- Links will go here later -->
            </nav>
        </header>

        <div class="content">
            {% block content %}
            <h2>Welcome to FilmFlix</h2>
            <p>A small movie database</p>
            {% endblock %}
        </div>

        <footer class="footer">
            <p>© 2025 FilmFlix</p>
        </footer>
    </body>
</html>
