<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            {% block head %}
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <title>{% block title %}FilmFlix{% endblock %}</title>
            <link
                rel="stylesheet"
                href="https://www.w3schools.com/w3css/4/w3.css"
            />
            <link
                rel="stylesheet"
                href="{{ url_for('static', filename='style.css') }}"
            />
            <script src="{{ url_for('static', filename='app.js') }}"></script>
            {% endblock %}
        </head>
    </head>
    <body>
        <body class="w3-light-grey">
            <header class="w3-container w3-blue w3-padding-32 w3-center">
                <h1 id="logo" class="w3-xxxlarge">FilmFlix</h1>
                <nav class="w3-bar w3-light-grey w3-padding-small w3-center">
                    <a
                        class="w3-bar-item w3-button w3-hover-blue"
                        href="{{ url_for('all_films') }}"
                        >Films</a
                    >
                    <a
                        class="w3-bar-item w3-button w3-hover-blue"
                        href="{{ url_for('add_film') }}"
                        >Add Film</a
                    >
                    <a
                        class="w3-bar-item w3-button w3-hover-blue"
                        href="{{ url_for('delete_film') }}"
                        >Delete Film</a
                    >
                    <a
                        class="w3-bar-item w3-button w3-hover-blue"
                        href="{{ url_for('amend_film') }}"
                        >Amend Film</a
                    >
                    <a
                        class="w3-bar-item w3-button w3-hover-blue"
                        href="{{ url_for('search') }}"
                        >Search</a
                    >
                </nav>
            </header>

            <div class="w3-container w3-white w3-card w3-margin w3-padding">
                {% block content %}
                <h2 class="w3-center">Welcome to FilmFlix</h2>
                <p class="w3-center">A small movie database</p>
                {% endblock %}
            </div>

            <footer class="w3-container w3-blue w3-center w3-padding-16">
                <p>© 2025 FilmFlix</p>
            </footer>
        </body>
    </body>
</html>
